<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CitizenFX.Core.Client" version="1.0.8202" targetFramework="net462" />
  <package id="CitizenFX.Core.Server" version="1.0.6335" targetFramework="net462" />
  <package id="FxMediator.Client" version="0.1.0-beta0047" targetFramework="net462" />
  <package id="FxMediator.Server" version="0.1.0-beta0047" targetFramework="net462" />
</packages>